{% extends 'wulf/base.html' %}
{% block content %}
<section>
  <h2>Sorry, an error occured which is preventing authentication</h2>
  <p>{{ message }}</p>
  <hr/>
  <p>If you think this is an error, please contact the wulf. support</p>
</section>
{% endblock %}
