<!doctype html>
<html>
<head>
  <title>the wulf. | {% block title %}Welcome{% endblock %}</title>
  <link rel="stylesheet" href="//cdn.rawgit.com/longsien/BareCSS/master/css/bare.min.css">
  {% block css %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  {% block js %}{% endblock %}
</body>
</html>
