{% extends 'wulf/base.html' %}
{% load static %}
{% block content %}
<section>
  <h2>Log in to the wulf.</h2>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <form action="{% url 'wulf:sso-form-auth' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" primary m-full>
    <a href="{% url 'wulf:sso-password-reset' %}">Forgot your password?</a>
  </form>
  <hr/>
  <p>If you are a member of the wulf. please log in with your Google account</p>
  <a href="{% url "social:begin" "google-oauth2" %}" btn m-full><img src="{% static 'wulf/img/logo-google-g.svg' %}"> @thewulf.org</a>
</section>
{% endblock %}
