{% extends 'wulf/base.html' %}
{% block content %}
<section>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if user.is_authenticated %}
  <p>You are now logged in :)</p>
  <a href="{% url 'wulf:logout' %}" btn>Log out</a>
  {% else %}
  <p>You are not logged in :(</p>
  <button id='login-btn' primary>Log in</button>
  {% endif %}
</section>
{% endblock %}
{% block js %}
<script>
'use-strict'
$(function () {
  // redirect to either ?next=... or index page
  $('#login-btn').on('click', function () {
    var next = new URLSearchParams(window.location.search).get('next') || window.location.pathname
    var w = window.open('{% url 'wulf:login-start' %}', 'Authenticating ...')
    var pollWindow = function () {
      if (w.closed) {
        window.location.replace(next)
      } else {
        setTimeout(pollWindow, 100)
      }
    }
    var pollCookie = function () {
      var _cookies = document.cookie.split(' ')
      var done = false
      for (var i=0; i < _cookies.length; i ++) {
        if (_cookies[i].split('=')[0] == '{{ cookie_name }}') return w.close()
      }
      setTimeout(pollCookie, 100)
    }
    w.focus()
    pollWindow()
    pollCookie()
  })
})
</script>
{% endblock %}
