<!doctype html>
<html language="en">
<head>
  <title>the wulf. | Authenticating</title>
</head>
<body onload="document.forms[0].submit()">
  <noscript>
    <p>Javascript is not supported by your browser, please click the submit button to continue</p>
  </noscript>
  <form action="{{ action }}" method="{{ method }}">
    {% if resp %}<input type="hidden" name="resp" value="{{ resp }}">{% endif %}
    {% if authn %}<input type="hidden" name="authn" value="{{ authn }}">{% endif %}
    <noscript><input type="submit" value="Submit"></noscript>
  </form>
</body>
</html>
