{% extends 'wulf/base.html' %}
{% block content %}
<section>
  <h2>{{ title }}</h2>
  <form action="{% url 'wulf:sso-password-reset' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Reset my password" primary m-full>
  </form>
</section>
{% endblock %}
