{% extends 'wulf/base.html' %}
{% block content %}
<section>
  <h2>{{ title }}</h2>
  {% if form %}
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Reset my password" primary m-full>
  </form>
  {% else %}
  <p>Would you like to <a href="{% url 'wulf:sso-password-reset' %}">Retry</a>?</p>
  {% endif %}
</section>
{% endblock %}
